{% extends "registration/registration_base.html" %}
{% block content %}
<div class="container">
<p>You're receiving this email because you requested a password reset for your user account at NAZA Attendance Manager.</p>
<p>Please go to the following page and choose a new password:</p>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Your username, in case you've forgotten:" {{ user.get_username }}

"Thanks for using our site!"

NAZA Attendance Manager Team
</div>
{% endblock %}
