{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <h4><strong>Add User</strong></h4>
</div>
<div class="container-fluid">
  {% if success %}
  <div class='alert alert-success fade in' id='message'>
  <button class='close' data-dismiss='alert' aria-label='close'>&times;</button>
  <strong>Success!</strong> User Added.</div>"
  {% endif %}
</div>
<div class="container-fluid">
  {% crispy add_user_form %}
</div>
{% endblock %}
{% block extrajs %}
  <script>
    $(document).ready(function(){
        $('select').select2({'width':'100%'});
    })
  </script>
{% endblock %}